package pages

import "github.com/jcgoodwin/myblog/templates/layout"

templ Contact() {
	@layout.Layout("Contact") {
		<main class="home_main">
			<div class="wa-stack wa-gap-2xl" style="max-width: 60ch; margin: 0 auto;">
				<p>Empty for now</p>
			</div>
		</main>
	}
}
