package pages

import (
	"github.com/jcgoodwin/myblog/internal/model"
	"github.com/jcgoodwin/myblog/templates/components"
	"github.com/jcgoodwin/myblog/templates/layout"
)

templ Post(postData model.Post) {
	@layout.Layout(postData.Title) {
		<main>
			<div style="max-width: 105ch; margin: 0 auto">
				<article>
					@components.Markdown(postData.Content)
				</article>
			</div>
		</main>
	}
}
