package components

templ Nav() {
	<nav aria-label="Main navigation">
		<ul class="wa-flex-wrap wa-gap-s">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
}
