package layout

templ Layout(title string) {
	<!DOCTYPE html>
	<html>
		<head>
			<script src="https://kit.webawesome.com/c459e807ca5346da.js" crossorigin="anonymous"></script>
			<title>OddCodeOut - { title }</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
