package layout

templ Layout(title string) {
	<!DOCTYPE html>
	<html>
		<head>
			<script src="https://kit.webawesome.com/c459e807ca5346da.js" crossorigin="anonymous"></script>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>OddCodeOut - { title }</title>
		</head>
		<body>
			<wa-page>
				<header slot="header">
					<span>OddCodeOut</span>
				</header>
				{ children... }
			</wa-page>
		</body>
	</html>
}
